.contacts-container {
    width: 99vw;
    height: 98vh;
}
.contacts-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
    justify-content: center;
    gap: 3rem;
    background: linear-gradient(to right, #0a0f1c, #212d45);
}

@media (max-width: 600px){
    .contacts-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}