.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 12px 24px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  margin-left: 20px;
}

.app-name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #222;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}


.navbar-right a {
  margin-left: 30px;
  padding: 5px;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  font-weight: 550;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  transition: color 0.5s ease;
}

.navbar-right a:hover {
  color: #007bff;
  text-decoration: underline;
}
/*-----------------------------------------------------*/
.logout-btn {
  background: none;
  border: none;
  color: rgb(42, 29, 29);
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
}

.logout-btn:hover {
  text-decoration: underline;
}
/*-----------------------------------------------------*/
.nav-link {
  margin-left: 30px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.3rem;
  color: #333;
  font-weight: 550;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}




@media (max-width: 600px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    height: 6rem;
  }

  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }
  .navbar-right a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .navbar-left {
    display: none;
  }
}
